/* SETTINGS */
.arial {
  font-family: var(--arial);
}
.margin-left {
  margin-left: 2em;
}
.margin-bottom {
  margin-bottom: 2em;
}
.margin-top {
  margin-top: 3.5em;
}
.margin-top2 {
  margin-top: 1.5em;
}
.padding-top {
  padding-top: 4em;
}
.letter-spacing {
  letter-spacing: 35px;
  padding-left: 37px;
}

/* SIZE */
.big {
  font-size: var(--size-big);
}
.normal {
  font-size: var(--size-normal);
}
.medium {
  font-size: var(--size-medium);
}
.small {
  font-size: var(--size-small);
}
/*--- LEFT ---*/
.vertical-lr {
  writing-mode: vertical-lr;
  left: 0;
  position: relative;
}
/*--- RIGHT ---*/
.vertical-rl {
  writing-mode: vertical-rl;
  right: 0;
  position: relative;
}
/*--- CENTER ---*/
.vertical-rl-center {
  writing-mode: vertical-rl;
  position: relative;
}

/* ORIENTATION */
.upright {
  text-orientation: upright;
}

.rotation {
  transform: rotate(90deg);
}

/* CANVAS */
.header {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 0.5em;
}
.bottom {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  bottom: 5%;
}
.center {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.left {
  z-index: 1;
  position: absolute;
  width: 50%;
  height: 50%;
  left: 0;
}
.left-center {
  z-index: 1;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.right {
  z-index: 1;
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
}
.right-center {
  z-index: 1;
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* STYLE */
.red {
  color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.yellow {
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.white {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.shadow {
  text-shadow: 2px 2px 4px #000000;
}

.shadow-purple {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.black-blue {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.black-yellow {
  color: #000000;
  text-shadow: 0 0 4px yellow, 4px 4px 0px yellow;
}

/* BANNER */

.circle {
  width: fit-content;
  height: fit-content;
  background: rgba(255, 255, 255, 0.589);
  border-radius: 100%;
  padding: 1em;
}

.circle-green {
  width: fit-content;
  height: fit-content;
  background: rgba(175, 255, 195, 0.376);
  color: rgb(0, 255, 64);
  border-radius: 100%;
  padding: 1em;
}
